
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <!-- Font Icon -->
    <link href="~/Content/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!-- Main css -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Sweetalert Scripts/css/sweetalert.css" rel="stylesheet" />
</head>

<body class="login-body">
    <script src="~/vendor/jquery/jquery.min.js"></script>
    @RenderBody()
    <script src="~/js/main.js"></script>
    <script src="~/Sweetalert Scripts/Scripts/sweetalert.min.js"></script>
</body>
</html>
